<!DOCTYPE html>
<html>

<head>
	<%- include('partials/head') %>
	<style><%- include('nothtml/css/nav.css') %></style>
	<style><%- include('nothtml/css/mew.css') %></style>
</head>

<body>
	<header>
		<%- include('partials/navigation') %>
	</header>
	<article class="main-body">
		<% dbMewem.forEach(info => { %>
		<section class="mew">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png" class="profile-icon">
			<div class="mew-body">
				<div class="mew__author"><%= info.UserName %></div>
				<a class="id-link" href="#">
					<div class="mew__id"><%= info.UserId %></div>
				</a>
				<div class="mew__date"><%= info.Year %>/<%= info.Month+1 %>/<%= info.Day %>/<%= info.Hour %>h/<%= info.Minute+1 %>m</div>
				<div class="mew__type"><%= info.mewType %></div>
				<p class="mew-content"><%= info.Content %></p>
				<div class="mew-options">
					
					<div class="comment">
						<i class="far fa-comment"></i><p><%= info.Comments %></p>
					</div>

					<div class="rt">
						<i class="fas fa-retweet"></i><p><%= info.Rts %></p>
					</div>

					<div class="like">
						<i class="fas fa-heart"><p><%= info.Likes %></p></i>
					</div>

				</div>
			</div>
		</section>
		<% }); %>
	</article>
</body>

</html>