<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <style><%- include('nothtml/css/nav.css') %></style>
</head>
<body>
    <header><%- include('partials/navigation') %></header>
    <h2>Email: <%= user.email %></h2>
    <h2>Username: <%= user.username %></h2>
    <h2>Password: <%= user.password %></h2>
    <a href="/logout"><h2>logout</h2></a>
</body>
</html>